<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong.admin.mapper.AdminMapper">

	<!-- member list -->
	<select id="list" resultType="com.hong.member.vo.MemberVO">	
select * from member
	</select>
	
	<!-- member view -->
	<select id="view" resultType="com.hong.member.vo.MemberVO">
	select id, pw, name, birth, email from member where id=#{id}
	</select>
	
	<!-- member delete -->
	<delete id="delete">
delete from member where id = #{id}
	</delete>

	<!-- 전체 회원 수 -->
	<select id="getTotalRow" resultType="int">
		select count(*) from member
	</select>

</mapper>